<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <form (ngSubmit)="onSubmit()" #f="ngForm">

            <div id="user-data">

               <div class="form-group">
                  <label for="username">Username</label>
                  <input
                     type="text"
                     id="username"
                     class="form-control"
                     [ngModel]="model.name"
                     name="username"
                     required>
               </div>

               <button class="btn btn-primary" type="button">Suggest a Username</button>

               <div class="form-group">
                  <label for="email">Mail</label>
                  <input
                     type="email"
                     id="email"
                     class="form-control"
                     [ngModel]="model.email"
                     name="email"
                     required
                     email
                     #email="ngModel">
                     <!--<span class="help-block" *ngIf="email.touched && email.status == 'INVALID'">
                        Please enter a valid email address
                     </span>-->
                     <div class="alert alert-danger" [hidden]="email.pristine || email.status == 'VALID'">
                        Please enter a valid email address
                     </div>
               </div>

            </div>

            <!-- A subcomponent used in a form that is bound to a model object in this component. -->
            <app-address [model]="model"></app-address>

            <div class="form-group">
               <label for="secret">Secret Questions</label>
               <select
                  id="secret"
                  class="form-control"
                  ngModel
                  name="secret">
                  <option value="pet">Your first Pet?</option>
                  <option value="teacher">Your first teacher?</option>
               </select>
            </div>

            <!-- ngModel used like this causes the JS form object to capture the value of the input control on form
            submit.-->
            <div class="form-group">
               <label for="hardcodedDefault">Hardcoded Default Value</label>
               <input
                  type="text"
                  id="hardcodedDefault"
                  class="form-control"
                  ngModel
                  name="hardcodedDefault"
                  required>
            </div>

            <!-- ngModel used like this causes the JS form object to capture the value of the input control on form
            submit, but also enables the input control to be initialised with a hard coded value. -->
            <div class="form-group">
               <label for="hardcodedDefault">Hardcoded Default Value</label>
               <input
                  type="text"
                  id="hardcodedDefault"
                  class="form-control"
                  [ngModel]="'hardcoded default value'"
                  name="hardcodedDefault"
                  required>
            </div>

            <!-- ngModel used like this causes the JS form object to capture the value of the input control on form
            submit, but also enables the input control to be initialised with value read from a bound property. -->
            <div class="form-group">
               <label for="modelOneWay">One Way Model Binding</label>
               <input
                  type="text"
                  id="modelOneWay"
                  class="form-control"
                  [ngModel]="model.modelOneWay"
                  name="modelOneWay"
                  required>
            </div>

            <!-- ngModel used like this causes the JS form object to capture the value of the input control on form
            submit, but also enables the input control to be two way bound to a property. -->
            <div class="form-group">
               <label for="modelTwoWay">Two Way Model Binding</label>
               <input
                  type="text"
                  id="modelTwoWay"
                  class="form-control"
                  [(ngModel)]="model.modelTwoWay"
                  name="modelTwoWay"
                  required>
            </div>

            <div class="form-group">
               <p>model.modelTwoWay: {{model.modelTwoWay}}</p>
               <p>model.address.city: {{model.city}}</p>
            </div>

            <button [disabled]="f.form.status == 'INVALID'" class="btn btn-primary" type="submit">Submit</button>
         </form>
      </div>
   </div>
</div>
